<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("partials/header.ejs") %>
</head>

<body>
  <%-include("partials/navbar.ejs") %>

  <main class="container-fluid col-md-10 col-12">
    <div class="blog-section">

      <div class="header-section">

        <div class="left col-md-8 col-12">
          <h1>The heaven for bloggers</h1>
          <p>iBlog is a website which lets you submit an article which upon approval will be up on our website
            and you can get a good amount of reach from here Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Expedita nemo eveniet, deleniti hic, est</p>
        </div>

        <div class="right col-md-4 col-12">
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/blog-writing-6374004-5272619.png" alt="">
        </div>

      </div>
      <hr>

      <!-- created post by user -->


      <div class="posts-container">
        <h2 class="posts-heading"> Blog Posts</h2>


        <% if(locals.posts){ %>
        <% posts.forEach((post) => {  %>

        <div class="post-item">
          <h2><%= post.title %></h3>
            <p><%= post.content.substring(0, 400) + "...." %> <a href="/posts/<%=post._id%>/">Read more...</a></p>
        </div>
        
        <%   })  %>
        <% }  %>

      </div>

    </div>
  </main>

  <%-include("partials/footer.ejs") %>

</body>

</html>