<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/header.ejs") %>
</head>

<body>
    <%-include("partials/navbar.ejs")  %>

    <main class="container-fluid col-md-10 col-12">
        <form class="blog-section" action="/delete" method="post">

              <h1 id="post-title"><%= title %></h1>
              <p id="post-content"><%= content %></p>
              <input type="hidden" name="deletePost" value="<%=postId%>" >
              <button type="submit" class="deleteBtn">Delete</button>
        </form>
    </main>


    <%-include("partials/footer.ejs") %>

</body>

</html>